name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".vscode/**"
  pull_request:
    paths-ignore:
      - "**.md"
      - ".vscode/**"
  workflow_dispatch:

env:
  NODE_VERSION: 20
  TURBO_SCM_BASE: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}

jobs:
  build-web:
    name: Build Web platform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install Node.js dependencies
        run: npm ci
      - name: Build packages affected by changes
        if: github.ref != 'refs/heads/main'
        run: npm run affected:build
      - name: Build all packages
        if: github.ref == 'refs/heads/main'
        run: npm run build
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Lint packages affected by changes
        if: github.ref != 'refs/heads/main'
        run: npm run affected:lint
      - name: Lint all packages
        if: github.ref == 'refs/heads/main'
        run: npm run lint
